.App {
  text-align: center;
}
.screen
{
  height: 100vh;
  display: flex;
  color: white;
}
.map-container
{
  height: 100%;
  overflow: 'hidden';
  width: 85%; 
  float: right;
}
.navbar
{
  width:80%;
  margin-left: 10%;
}
.nav-control
{
  font-size: 1px;
}
.bar
{
  background-color: #003333;
  width: 15%;
  height: 100%;
}